[submodule "src/main/resource/.mikutter/plugin/cui_account_register"]
	path = src/main/resource/.mikutter/plugin/cui_account_register
	url = https://github.com/mikoto2000/mikutter_cui_account_register.git
